<p>
  <strong>First name:</strong>
  <%= @cashier.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @cashier.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cashier.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cashier.encrypted_password %>
</p>

<%= link_to 'Edit', edit_cashier_path(@cashier) %>
<%= link_to 'Back', cashiers_path %>
