<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_pack_tag'favicon.ico' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <%= render 'include/main/header' %>
    <!-- header -->
      
    <main class="d-flex container mt-3 flex-column justify-content-center align-items-center">
      <!-- notifications -->
      <%= render 'include/main/notifications' %>
      <!-- notifications -->
      <%= yield %>  
    </main>

    <!-- footer -->
    <%= render 'include/main/footer' %>
    <!-- footer -->
  </body>
</html>
